@import '../../utils/variables.scss';

.photos {
  text-align: center;

  &__title {
    margin-bottom: 48px;
  }

  &__input {
    padding: 0 10px;
    width: 250px;
    height: 29px;
    border: none;
    border-bottom: 1px solid $color-main;
    outline: none;
    background: none;
    color: $color-main;

    &--error {
      border-bottom: 1px solid $color-error;
    }
  }

  &__btn {
    margin-bottom: 48px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
    background: none;
    border: 2px solid $color-main;
    color: $color-main;

    transition: all 0.3s;

    &:hover {
      background: $color-main;
      color: $color-hover;
      transform: scale(105%);
    }

    &:disabled {
      cursor:not-allowed;
    }
  }
}
