@import './utils/variables.scss';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  height: 72px;
  line-height: 72px;
  text-align: center;
  background-color: $color-main;

  &__link {
    padding: 20px 40px;
    color: $color-white;
    text-decoration: none;
    margin-right: 40px;

    transition: color 0.3s;

    &:hover {
      color: $color-lagoone;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
