@import '../../utils/variables.scss';

.todos {
  text-align: center;

  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 524px;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__input {
    padding: 0 10px;
    width: 250px;
    height: 29px;
    border: none;
    border-bottom: 1px solid $color-main;
    outline: none;
    background: none;
    color: $color-main;
  }

  &__btn {
    margin-bottom: 48px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    background: none;
    border: 2px solid $color-main;
    color: $color-main;

    transition: all 0.3s;

    &:hover {
      background: $color-main;
      color: $color-lagoone;
      transform: scale(105%);
    }

    &--active {
      background: $color-main;
      color: $color-white;
    }

    &--todo {
      border-right: none;
      border-left: none;
    }
  }

  &__check {
    width: 60px;
    height: 50px;
    font-size: 12px;
    background: none;
    border: 2px solid $color-main;
    color: $color-main;
    box-shadow: 10px 5px 5px rgb(143, 143, 143);

    transition: all 0.3s;

    &:hover {
      background: $color-main;
      color: $color-lagoone;
      transform: scale(105%);
    }
  }

  &__todo {
    display: flex;
    justify-content: center;

    margin: 0 auto 24px;
    padding: 14px;
    width: 340px;
    color: $color-main;
    text-decoration: none;
    background: linear-gradient(90deg,
        rgb(245, 245, 204) 0%,
        rgb(236, 255, 65) 100%);
    box-shadow: 10px 5px 5px rgb(143, 143, 143);

    transition: transform 0.3s;

    &:hover {
      transform: scale(105%);
    }

    &--strike {
      text-decoration: line-through;
      text-decoration-color: $color-red;
    }
  }

  &__remove {
    width: 60px;
    height: 50px;
    font-size: 12px;
    cursor: pointer;
    background: none;
    border: 2px solid $color-main;
    color: $color-red;
    box-shadow: 10px 5px 5px rgb(143, 143, 143);

    transition: all 0.3s;

    &:hover {
      background: $color-main;
      color: $color-lagoone;
      transform: scale(105%);
    }
  }
}
