@import '../../utils/variables.scss';

.todosId {
  text-align: center;

  &__link {
    padding: 4px 10px;
    width: 100px;
    height: 50px;
    font-size: 12px;
    background: none;
    border: 2px solid $color-main;
    color: $color-main;
    box-shadow: 10px 5px 5px rgb(143, 143, 143);

    transition: all 0.3s;

    &:hover {
      background: $color-main;
      color: $color-lagoone;
      transform: scale(105%);
    }
  }
}
